<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8"/>
	</head>
	<body>
		<form method="post", action="/make">
			<input type="text" id="text" name="text">
			<input type="submit" value="qr코드 생성" id="btn">
		</form>
		<script src="index.js"></script>
	</body>
</html>